.search-bar__wrapper {
  /* min-height: 927px; */
  max-height: 100%;
  width: 400px;
  padding: 15px;
  display: flex;
  flex-flow: column;
  align-items: center;
  background: #7395ae;
  border-radius: 30px;
}
