.found-books {
	overflow: hidden;
  max-width: fit-content;
  padding-top: 43px;
  position: relative;
}

.spin-wrapper {
	margin-top: 15%;
	display: flex;
	justify-content: center;
	align-items: center
}

/* Title */
@import url(./__title/Found-books__title.css);

/* Grid-wrapper */
@import url(./__grid-wrapper/Found-books__grid-wrapper.css);